@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  margin: 20px;
}

a,
p {
  text-decoration: none;
  color: #69696a;
}

li {
  list-style: none;
  margin: 2% 0%;
}

ul {
  padding: 0px;
}

.button_1 {
  background-color: #000;
  color: #fff;
  padding: 12px;
  display: block;
  border-radius: 25px;
  text-align: center;
}

.button_2 {
  background-color: #000;
  color: #fff;
  padding: 12px;
  display: block;
  border-radius: 25px;
  text-align: center;
}

p {
  border-left: 2px solid;
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul,
  .button_1,
  li {
    display: flex;
    display: inline-block;
    margin-right: 5px;
  }
  section {
    height: 500px;
    width: 500px;
  }
  .button_2 {
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }

  main {
    margin-top: 100px;
    display: flex;
    position: relative;
  }

  p {
    padding: 10px;
  }

  .shape_1 {
    background-color: rgba(247, 136, 167, 0.6);
    height: 200px;
    width: 200px;
    border-radius: 600%;
    position: absolute;
    right: 65px;
    top: 150px;
  }

  .shape_2 {
    background-color: rgba(247, 193, 162, 0.7);
    height: 140px;
    width: 140px;
    opacity: 80%;
    border-radius: 600%;
    position: absolute;
    right: 10px;
    top: 260px;
    z-index: 2;
  }

  .shape_3 {
    background-color: rgba(207, 130, 213, 0.5);
    height: 100px;
    width: 100px;
    border-radius: 600%;
    opacity: 70%;
    position: absolute;
    right: 20px;
    top: 190px;
  }
}
